body {
  font-family: Arial, sans-serif;
  background-color: #eba780;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 40px;
  color: #279e0a;
}

.fortune-box {
  padding: 20px;
  border: 3px solid #2e7d32;
  background-color: #ffffff;
  width: 50%;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #2e7d32;
  transition: all 0.3s ease;
}

.btn_con {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.box-and-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}

.button-container {
  /* display:; */
  grid-template-columns: 2;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  gap: 10px;
 
}

button {
  padding: 10px 20px;
  border: 5px solid black;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  margin: 8px;
}

footer {
  background-color: #2e7d32;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
    a {
      color: #1b5e20;
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
    }